@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<section class="w-[90%] lg:w-1/2 bg-white dark:bg-gray-900 border border-gray-200 rounded-lg shadow">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="px-6 py-16 mx-auto text-center">
        @if (Model.IsEmailConfirmed)
        {
            <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-100">Aggiorna la tua email</h1>
            <p class="max-w-lg mx-auto mt-5 text-gray-500 dark:text-gray-400">Email attuale: @Model.Email <span class="text-green-500 font-bold">✓</span></p>
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="w-full flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2">
                    <input asp-for="Input.NewEmail" class="lg:w-3/4 px-4 py-2 text-gray-700 text-center bg-white border rounded-md sm:mx-2 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40" placeholder="Nuova email">
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="lg:w-1/4 px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-700 rounded-md sm:mx-2 hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                        Aggiorna
                    </button>
                </div>
            </form>
        }
        else
        {
            <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-100">La tua email non è ancora stata verificata</h1>
            <p class="max-w-lg mx-auto mt-5 text-gray-500 dark:text-gray-400">Email attuale: @Model.Email <span class="text-red-500 font-bold">x</span></p>
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2">
                    <input asp-for="Email" class="form-control hidden" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-700 rounded-md sm:mx-2 hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                        Verifica
                    </button>
                </div>
            </form>
        }
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
